<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407459280457-ohufi68ievj91g52dfjeoko65q4vhiv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407459280457-ohufi68ievj91g52dfjeoko65q4vhiv2</string>
	<key>API_KEY</key>
	<string>AIzaSyCOXpWMzKBOwpR_E4qUyVC7p8dPncglFdY</string>
	<key>GCM_SENDER_ID</key>
	<string>407459280457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.Northeastern.Zhihan</string>
	<key>PROJECT_ID</key>
	<string>elibrary-faead</string>
	<key>STORAGE_BUCKET</key>
	<string>elibrary-faead.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407459280457:ios:f53085dfa10c39e1dbb198</string>
</dict>
</plist>